@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 23 100% 100%;
    --foreground: 23 5% 10%;
    --card: 23 50% 100%;
    --card-foreground: 23 5% 15%;
    --popover: 23 100% 100%;
    --popover-foreground: 23 100% 10%;
    --primary: 23 100% 68%;
    --primary-foreground: 0 0% 0%;
    --secondary: 23 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -15 30% 95%;
    --muted-foreground: 23 5% 40%;
    --accent: -15 30% 90%;
    --accent-foreground: 23 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 23 5% 100%;
    --border: 23 30% 82%;
    --input: 23 30% 50%;
    --ring: 23 100% 68%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 23 50% 10%;
    --foreground: 23 5% 100%;
    --card: 23 50% 10%;
    --card-foreground: 23 5% 100%;
    --popover: 23 50% 5%;
    --popover-foreground: 23 5% 100%;
    --primary: 23 100% 68%;
    --primary-foreground: 0 0% 0%;
    --secondary: 23 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -15 30% 25%;
    --muted-foreground: 23 5% 65%;
    --accent: -15 30% 25%;
    --accent-foreground: 23 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 23 5% 100%;
    --border: 23 30% 50%;
    --input: 23 30% 50%;
    --ring: 23 100% 68%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
